:root {
  --black: #000000;
  --blue: #1c6cef;
  --concord: #7b7b7b;
  --mystic: #e2eef7;
  --silver: #bcbcbc;
  --white: #ffffff;

  --font-size-l: 30px;
  --font-size-m: 24px;
  --font-size-s: 18px;
  --font-size-xl: 48px;
  --font-size-xs: 14px;
  --font-size-xxl: 60px;
  --font-size-xxs: 13px;

  --font-family-inter: "Inter", Helvetica;
}
.inter-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-concord-14px {
  color: var(--concord);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-13px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-13px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

/* Custom list bullets */
.custom-1 li {
  list-style-type: '✔️ ';
  font-size: 120%;
  line-height: 3.3em;
}
