@font-face {
  font-family: 'AkkuratLLWeb-Regular';
  src: url('AkkuratLLWeb-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'AkkuratLLWeb-Bold';
  src: url('AkkuratLLWeb-Bold.woff2') format('woff2');
}
body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

/*------------------------ HEADERS ------------------------*/

h1 {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  text-align: center;
  font-size: 40px;
}
h2 {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  font-size: 38px;
  text-align: center;
}
h3 {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  font-size: 26px;
}


.titleT {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  font-size: 20px;
}

.titleTemp {
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
    color: black;
    font-size: 28px;
    justify-content: center;
}

.mainT {
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  color: black;
  font-size: 14px;
}

/*------------------------ FORM INPUT------------------------*/

.blueButton{
  cursor: pointer;
  height: 32px;
  width:  200px;
  line-height: 32px;
  color: #FFFFFF;
  background-color: #1969F7;
  font-size: 13px;
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  border-radius: 6px;
  text-align: center;
  z-index: 10;
  border: 0px;
}
.blueButton:hover{
  background-color: #3190F7;
}

input
{
   background-repeat:repeat-x;
   border: 1px solid #D9D9D9;
   height:25px;
   width:100%;
}

input[type=submit] {
  cursor: pointer;
  height: 32px;
  width: 100%;
  line-height: 32px;
  color: #FFFFFF;
  background-color: #286FFF;
  font-size: 13px;
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  border-radius: 6px;
  text-align: center;
  z-index: 10;
  border: 0px;
}

input[type=submit]:hover{
  background-color: #4991F7;
}



textarea
{
   background-repeat:repeat-x;
   border: 1px solid #D9D9D9;
   height:85px;
   width:100%;
   resize: none;
   font-family:Arial, Helvetica, sans-serif;
}


select
{
   background-repeat:repeat-x;
   border: 1px solid #D9D9D9;
   height:29px;
   width:296px;
}

label{
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  color: black;
  font-size: 14px;

}

#MacContainer{display: none;}
#LinuxContainer{display: none;}
#Win32BitContainer{display: none;}

.C_Button{
  cursor: pointer;
  height: 32px;
  width:  100%;
  line-height: 32px;
  color: #FFFFFF;
  background-color: #286FFF;
  font-size: 13px;
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  border-radius: 6px;
  text-align: center;
  z-index: 10;
}

.C_Button:hover{
  background-color: #4991F7;
}
/*------------------------ DOWNLOAD FORM ------------------------*/

.DualComboContain{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.LeftCombo{
  width:  200px;
  height: 20px;
}

.DlMessage{
  width: 100%;
  height: 70px;
  color: #286FFF;
  font-size: 13px;
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  /*background-color: #00AAAA;*/
}
.DlMessage: hover{
}
.C_Parent{
    /*background-color: #FF3333;*/
    /*border: 1px solid #CCCCCC;*/
    width: 800px;
    height: 100%;
    align-items: center;
    position: relative;
}

.C_Outer{
  width: 100%;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  flex-direction:column;
}

.C_LabelBox{
  width: 300px;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  /*background-color: #00FFFF;
  border: 1px solid #CCCCCC;*/
  border-radius: 6px;
  order: 0;
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.C_Spacer{
  width: 100%;
  height: 30px;
  /*background-color: #00FFFF;*/
}

.C_FormBox{
  width: 470px;
  height: 100%;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 14px;
}



.C_Edge{
  /*background-color: #0055FF;*/
}

.C_Center{
  width: 290px;
  height; 100%;
  /*background-color: #00FF77;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}






/*------------------------ LINE DIVIDERS ------------------------*/
.dLine {
    border: 0;
    height: 1px;
    background: #C9C9C9;
    top: 1px;
    width: 950px;
}

.frame {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #FFFFFF;
}


/*------------------------ CONTAINERS & SPACERS ------------------------*/
.filler{background-color: #FFFFFF;width: 950px;}

.container{
    background-color: #FFFFFF;
    width: 950px;
    height: 100%;
    display: flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-between;
    align-items: center;
    position: relative;

}


#ContentLayer{
  visibility: visible;
  display:block;
}

#ContentLayerMobile{
    display:none;
}

  .C_MobileText{}

/*######################### GENERAL MOBILE #############################*/

@media (max-device-width: 950px), (max-width: 950px) {
  
  #ContentLayerMobile{
    display:block;
}

  .C_MobileText{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
    font-size: 27px;

  }
  .C_MobileTextB{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
    font-size: 30px;
    font-weight: bold;

  }


  #ContentLayer{
    visibility: hidden;
    display:none;
  }

}


/*######################################################*/
/*######################################################*/
/*---------------------- INFO BAR ----------------------*/
/*######################################################*/

.infoParentNarrow{
  display: none;
}

.infoParent{
    /*background-color: #FF3333;*/
    width: 950px;
    height: 100%;
    align-items: center;
}

.infoContainerWide{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  flex-direction:row;
  /*background-color: #555555;*/
  width: 100%;
}

.infoBoxLogo{
  width: 140px;
  height: 270px;
  /*background-color: #FFFFFF;
  border: 1px solid #CCCCCC;*/
  border-radius: 6px;
  order: 0;
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.infoBox{
  width: 160px;
  height: 270px;
  /*background-color: #FFFFFF;
  border: 1px solid #CCCCCC;*/
  border-radius: 6px;
  order: 0;
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}



.info_LEdge{
  /*background-color: #00FFFF;*/
  width: 20px;
}
.info_REdge{
  /*background-color: #FF00FF;*/
  width: 10px;
}
.info_Center{
  /*background-color: #00FFFF;*/
  width: 158px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

}


.info_Spacer{height: 13px;}


/*######################################################*/
/*----------------- BOTTOM INFO MOBILE -----------------*/

.infoContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  flex-direction:column;
}

.aInfo{
  /*background-color: #FF0000;*/
  color: #777777;
  text-decoration: none;
  font-size: 13px;
  
}
.aInfo:hover{color: #000000;}
.aInfoB{
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  /*background-color: #FF0000;*/
  font-weight: bold;
  font-size: 14px;
}


/*Mobile version*/
.amInfoB{
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  font-size: 38px;
  font-weight: bold;
}
.amInfo{
    /*background-color: #FF0000;*/
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  font-weight: regular;
  font-size: 32px;
  color: #333333;
  text-decoration: none;
}
.amInfo:hover{color: #000000;}

.infoParentNarrow{
  display: none;
}

@media (max-device-width: 950px), (max-width: 950px) {

  .infoParent{
    display: none;
  }
  .infoParentNarrow{
    display:block;
    width: 950px;
    height: 100%;
    align-items: center;
    position: relative;
  }
}

/*---------------------- IPAD & MOBILE --------------------*/
@media (max-device-width: 950px), (max-width: 950px) {

  #headerLogo{
    top:1px;
    height:70px;
  }
  #hamImg{
    position: relative;
    top:2px;
    height:70px;
  }

  .menuContainer{
    width: 100%;
  }
  .container{
    width: 100%;
  }

  .dLine{width: 100%;}
  .pressParent{width: 100%;}
  .infoParent{width: 100%;}
  
  .filler{width: 100%;}

  .menuContainer{
    display: none;
    width: 100%;
  }
  .menuHamburger{
    display: block;
    cursor: pointer;
  }
  .menuHamburger:hover{
    background-color: #F9F9F9;
  }
  
  nav {
    background-color: yellow;
    float: right;
    max-height: 0.3s;
    width: 100%;
    
  }
  nav a {
    padding: 10px;
    width: 100%;
    /*color: #FF0000;*/
    text-decoration: none;
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  }
}


/*---------------------- MOBILE ONLY --------------------*/
@media (max-width: 812px) {
  .parterNarrowContainer{width:100%;}

  #logoTop{display:none;}
  #logoTopMobile{display:block}
  #menuHamburgerMobile{display:block;cursor: pointer;}
  #menuHamburger{display: none}

  #hamImgM{
    position: relative;
    top:2px;
    height:91px;
  }

}
