@font-face {
    font-family: 'AkkuratLLWeb-Regular';
    src: url('/AkkuratLLWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'AkkuratLLWeb-Bold';
    src: url('/AkkuratLLWeb-Bold.woff2') format('woff2');
}

.frame {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #FFFFFF;
}

.infoParentNarrow{
    display: none;
}

.infoParent{
    width: 950px;
    height: 100%;
    align-items: center;
}

.infoContainerWide{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction:row;
    width: 100%;
}

.infoBoxLogo{
    width: 140px;
    height: 270px;
    border-radius: 6px;
    order: 0;
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.infoBox{
    width: 160px;
    height: 270px;
    border-radius: 6px;
    order: 0;
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.info_LEdge{
    width: 20px;
}

.info_REdge{
    width: 10px;
}

.info_Center{
    width: 158px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.info_Spacer{height: 13px;}

.infoContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    flex-direction:column;
}

.aInfo{
    color: #777777;
    text-decoration: none;
    font-size: 13px;
}

.aInfo:hover{color: #000000;}

.aInfoB{
    font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
    font-weight: bold;
    font-size: 14px;
    width:100%;
    justify-content:center;
}


/*Mobile version*/
.amInfoB{
    font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
    font-size: 38px;
    font-weight: bold;
}

.amInfo{
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
    font-weight: regular;
    font-size: 32px;
    color: #333333;
    text-decoration: none;
}

.amInfo:hover{color: #000000;}

.infoParentNarrow{
    display: none;
}

@media (max-device-width: 950px), (max-width: 950px) {
    .infoParent{
        display: none;
    }

    .infoParentNarrow{
        display:block;
        width: 950px;
        height: 100%;
        align-items: center;
        position: relative;
    }
}