@font-face {
  font-family: 'AkkuratLLWeb-Regular';
  src: url('/AkkuratLLWeb-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'AkkuratLLWeb-Bold';
  src: url('/AkkuratLLWeb-Bold.woff2') format('woff2');
}
body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

/*------------------------ HEADERS ------------------------*/

h1 {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  text-align: center;
  font-size: 54px;
}
h2 {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  font-size: 33px;
  height: 17px;
}
h3 {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  font-size: 26px;
}


/*------------------------ LINE DIVIDERS ------------------------*/
.dLine {
    border: 0;
    height: 1px;
    background: #C9C9C9;
    top: 1px;
    width: 950px;
}

.frame {
  display: flex;
  width: 100%;
  justify-content: center;
  /*background-color: #FF0000;*/
}


/*------------------------ CONTAINERS & SPACERS ------------------------*/
.filler{background-color: #FFFFFF;width: 950px;}

.container{
    background-color: #FFFFFF;
    width: 950px;
    height: 100%;
    display: flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-between;
    align-items: center;
    position: relative;

}
.content{
    background-color: #FFFFFF;
    width: 950px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
    align-items: center;
    position: relative;

}
.tcontainer{
    background-color: #FFFFFF;
    width: 780px;
    display: flex; 
    flex-direction:column; 
    flex-wrap:nowrap; 
    justify-content:space-between;
}
.icontainer{
    background-color: #FFFFFF;
    width: 780px;
    height: 100%;
    display: flex; 
    flex-direction:column; 
    flex-wrap:nowrap; 
    justify-content:space-between;
}



/*######################################################*/
/*######################################################*/
/*---------------------- INFO BAR ----------------------*/
/*######################################################*/

.infoParent{
    /*background-color: #FF3333;*/
    width: 950px;
    height: 100%;
    align-items: center;
}

.infoContainerWide{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  flex-direction:row;
  /*background-color: #555555;*/
  width: 100%;
}

.infoBoxLogo{
  width: 140px;
  height: 270px;
  /*background-color: #FFFFFF;
  border: 1px solid #CCCCCC;*/
  border-radius: 6px;
  order: 0;
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.infoBox{
  width: 160px;
  height: 270px;
  /*background-color: #FFFFFF;
  border: 1px solid #CCCCCC;*/
  border-radius: 6px;
  order: 0;
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}



.info_LEdge{
  /*background-color: #00FFFF;*/
  width: 20px;
}
.info_REdge{
  /*background-color: #FF00FF;*/
  width: 10px;
}
.info_Center{
  /*background-color: #00FFFF;*/
  width: 158px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

}


.info_Spacer{height: 13px;}


/*######################################################*/
/*----------------- BOTTOM INFO MOBILE -----------------*/

.infoContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  flex-direction:column;
}

.aInfo{
  /*background-color: #FF0000;*/
  color: #777777;
  text-decoration: none;
  font-size: 13px;
  
}
.aInfo:hover{color: #000000;}
.aInfoB{
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  /*background-color: #FF0000;*/
  font-weight: bold;
  font-size: 14px;
}


/*Mobile version*/
.amInfoB{
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  font-size: 38px;
  font-weight: bold;
}
.amInfo{
    /*background-color: #FF0000;*/
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  font-weight: regular;
  font-size: 32px;
  color: #333333;
  text-decoration: none;
}
.amInfo:hover{color: #000000;}

.infoParentNarrow{
  display: none;
}



@media (max-device-width: 950px), (max-width: 950px) {

  .infoParent{
    display: none;
  }
  .infoParentNarrow{
    display:block;
    width: 950px;
    height: 100%;
    align-items: center;
    position: relative;
  }
}



.titleT {
  font-family: 'AkkuratLLWeb-Bold', Fallback, sans-serif;
  color: black;
  font-size: 22px;
}

.sectionT {
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  color: black;
  font-size: 18px;
  height:45px;
}

.mainT {
  font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  color: black;
  font-size: 16px;
}

.contentT {
    width: 600px;
    height: 80px;
    background-color: #FF00FF;
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
    font-size: 24px;
}

/*######################################################*/
/*######################################################*/
/*------------------- GENERAL MOBILE -------------------*/
/*######################################################*/
@media (max-device-width: 950px), (max-width: 950px) {
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 54px;
    height: 30px;
    padding-left: 40px;
  }
  h3 {
    font-size: 41px;
  }
  .titleT {
    position: relative;
    top: 15px;
    font-size: 29px;
  }
  .sectionT {
    font-size: 37px;
    height:75px;
    padding-left: 40px;
  }
  .tcontainer{
    width: 100%;
  }
  .mainT{
    font-size: 28px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .tBox{
    width: 100%;
    font-size: 32px;
    /*padding-left: 10px;
    padding-right: 10px;*/
  }
  .vBox{
    width: 100%;
  }

  #introTxt{font-size: 40px;}

}





/*######################################################*/
/*######################################################*/
/*######################################################*/
/*------------------- CONTENT MOBILE ------------------*/

@media (max-device-width: 950px), (max-width: 950px) {

  .questionContainerNarrow{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    flex-direction:row;
  }
  .questionContainer{
    display: none;
  }

  .priceParentNarrow{
    display:block;
    width: 93%;
    height: 100%;
    align-items: center;
    position: relative;
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 6px;
  }

  .PR_Product{height:40px;font-size:42px;}
  .PR_PriceBox{height:25px;font-size:22px;}
  .PR_Price{height:25px;font-size:48px;}
  .PR_Duration{height:34px;font-size:24px;}
  .PR_Toggle{height:47px;font-size:12px;}
  .PR_Button{
    height:42px;font-size:21px;
    width: 100%;
  }
  .PR_ButtonSpace{width:10px;height:32px;}
  .Free_Button{
    height:42px;font-size:21px;
    width: 100%;
  }
  .PR_Spacer{height:22px;}
  .PR_FHeader{
    font-size:23px;
    height: 100%;
  }
  .PR_FeatureB{
    font-size:23px;
  }
  .F_Widen{
    font-size: 53px;
  }
  .PR_Check{
    padding: 2px;
    height: 24px;
    font-size: 53px;
    content:url("./images/CheckMobile.png");
  }
  .PR_Feature{
    font-size: 23px;
  }

  .priceParent{
    display:none;
  }

  .newsParent{
    display:none;
  }
  .newsParentNarrow{
    display:block;
    width: 100%;
  }

  #partnerWide{
    display: none;
  }
  #partnerNarrow{
    display: flex;
    /*background-color: #440000;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;
  }

}



/*---------------------- IPAD & MOBILE --------------------*/
@media (max-device-width: 950px), (max-width: 950px) {

  #headerLogo{
    top:1px;
    height:70px;
  }
  #hamImg{
    position: relative;
    top:2px;
    height:70px;
  }

  .menuContainer{
    width: 100%;
  }
  .container{
    width: 100%;
  }

  .dLine{width: 100%;}
  .pressParent{width: 100%;}
  
  .filler{width: 100%;}

  .menuContainer{
    display: none;
    width: 100%;
  }
  .menuHamburger{
    display: block;
    cursor: pointer;
  }
  .menuHamburger:hover{
    background-color: #F9F9F9;
  }
  
  nav {
    background-color: yellow;
    float: right;
    max-height: 0.3s;
    width: 100%;
    
  }
  nav a {
    padding: 10px;
    width: 100%;
    /*color: #FF0000;*/
    text-decoration: none;
    font-family: 'AkkuratLLWeb-Regular', Fallback, sans-serif;
  }
}
/*---------------------- MOBILE ONLY --------------------*/
@media (max-width: 812px) {
  .parterNarrowContainer{width:100%;}

  #logoTop{display:none;}
  #logoTopMobile{display:block}
  #menuHamburgerMobile{display:block;cursor: pointer;}
  #menuHamburger{display: none}

 #hamImgM{
    position: relative;
    top:2px;
    height:91px;
  }

}

